/* body {
    margin: 0;
    padding: 0;
}
.container{
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* align-items: center; */
    /* text-align: center;
    height: 60px;
    top: 0;
}
.container p{
    text-align: center;
    background-color: rgb(58, 57, 57);
    color: white;
}
.container i{
    margin-top: 10px;
    color: white;
}  */

body{        
    padding: 0;
    margin: 0;
}
.container {
    background: rgb(32, 29, 29);
    color: white;
    text-align: center;
    padding-top: 24px;
    width: 100%;
    height: 50px;
    /* padding: 10px; */
    top: 0;
}
.container p{
    margin-top: 10px;
}
.container i{
    color: white;
    
}
